:root {
  --primary: #75A85E;
}



/* header */

.header {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  height: auto;
}

.brand-logo {
  width: 100px;
  height: auto;
  aspect-ratio: 4/2;
}

.dropdown-menu {
  border: none;
  min-width: 600px;
  margin-top: 0px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  justify-content: center;
}

.sec-drop-menu {
  display: none;
  position: relative;
  width: 250px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}


.sec-dropdown:hover .sec-drop-menu {
  display: block;
  position: absolute;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  left: 0;
  top: 135px;
  z-index: 55555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav-link {
  position: relative;
  padding-bottom: 5px;
  margin-left: 10px;
  font-weight: 500;
  color: #000000 !important;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--primary) !important;
  font-weight: 500;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 100%;
  color: var(--primary);

}

.menudrop-icon {
  width: 50px;
  height: auto;
  padding: 5px;
}

.menudrop-icon img {
  height: auto;
  aspect-ratio: 2/2;
  background-size: cover;
}

.dropdown-item {
  min-height: 120px;
  width:120px;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}


.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dropdown-item-border {
  min-height: 120px;
}

/* .dropdown-item-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
} */

.dropdown-item-border:hover::after {
  width: 50%;
  color: var(--primary);

}

/* end new header */

/* start hero section */

/* end hero section */

/* start why choose */
.choose__main__card {
  padding: 10px;
  text-align: justify;
  background-color: #FFFFFF;
  border-radius: 10px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: -1111;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.choose__main__card:hover {
  scale: 1.1;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
}

.choose-icon {
  width: 70px;
  padding: 2px;
  border: 2px solid var(--primary);
  aspect-ratio: 2/2;
}

.choose-icon img {
  aspect-ratio: 2/2;
}

.choose__box__title {
  color: var(--primary);
  font-weight: 800;
}

.choose-text {
  color: #000000;
  font-weight: 500;
}

.choose_card-btn {
  color: var(--primary);
  font-size: 16px;
  border-radius: 30px;
  font-weight: 500;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}



.choose_card-btn:hover {
  color: #FFFFFF;
  padding: 3px 5px;
  background-color: var(--primary);
}

.apply__franchiese__btn {
  padding: 4px 10px;
  border: 2px solid var(--primary);
  color: #111111;
  border-radius: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.apply__franchiese__btn:hover {
  scale: 1.1;
}

.apply__franchiese__btn a {
  font-weight: 600;

}

/* end why choose */