@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary: #75A85E;
  --section-color: #FDF3EA;
  --white: #FFFFFF;
  --font-inter: "Inter", sans-serif;
}

.body {
  background-color: #F0F0F0;
}

/* all section color */
.header {
  background-color: var(--white);
}

.why-choose {
  background-color: var(--white);
}

.about {
  background-color: var(--section-color);
}

.categories {
  background-color: var(--white);
}

.product {
  background-color: var(--white);
}

.class {
  background-color: var(--white);
}

.testimonial {
  background-color: var(--section-color);
}

.instagram {
  background-color: var(--white);
}

.our-brand-section {
  background-color: var(--white);
}

/* all section end */
.s-heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #313131;
}

.heading {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font-inter);
  color: #313131;
}



/* header */
.header {
  background-color: var(--white);
}

.navbar-brand {
  display: inline-block;
  width: 200px;
  height: auto;
}


.brand-logo {
  width: 100px;
  height: auto;
  aspect-ratio: 2/2;
  object-fit: contain;
}


.header {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  height: auto;
}

.dropdown-menu {
  position: absolute;
  display: block;
  border: none;
  min-width: 600px;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  -webkit-transition: opacity 0.3s ease, transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, transform 0.3s ease;
  -ms-transition: opacity 0.3s ease, transform 0.3s ease;
  -o-transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}


.sec-drop-menu {
  position: absolute;
  display: block;
  border: none;
  min-width: 600px;
  top: 90%;
  left: 0;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  -webkit-transition: opacity 0.3s ease, transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, transform 0.3s ease;
  -ms-transition: opacity 0.3s ease, transform 0.3s ease;
  -o-transition: opacity 0.3s ease, transform 0.3s ease;
}

.sec-dropdown:hover .sec-drop-menu {
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}


.nav-link {
  position: relative;
  padding-bottom: 5px;
  margin-left: 10px;
  font-weight: 500;
  color: #000000 !important;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--primary) !important;
  font-weight: 500;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 100%;
  color: var(--primary);

}

.menudrop-icon {
  width: 50px;
  height: auto;
  padding: 5px;
}

.menudrop-icon img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: contain;
}

.dropdown-item {
  min-height: 100px;
  width: 120px;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}


.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.customer-care-text {
  color: #000000;
  font-weight: 500;
}

.customer-care-num {
  font-weight: 600;
}

/* end new header */

/* start hero section */

/* end hero section */

/* start why choose */

.choose__main__card {
  padding: 10px;
  text-align: justify;
  background-color: #FFFFFF;
  border-radius: 10px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: -1111;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.choose__main__card:hover {
  scale: 1.03;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.1);
}

.choose-icon {
  width: 70px;
  padding: 2px;
  border: 2px solid var(--primary);
  aspect-ratio: 2/2;
}

.choose-icon img {
  aspect-ratio: 2/2;
}

.choose__box__title {
  color: var(--primary);
  font-weight: 800;
}

.choose-text {
  color: #000000;
  font-weight: 500;
}

.choose_card-btn {
  color: var(--primary);
  font-size: 16px;
  border-radius: 30px;
  font-weight: 500;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}



.choose_card-btn:hover {
  color: #FFFFFF;
  padding: 3px 5px;
  background-color: var(--primary);
}

.apply__franchiese__btn {
  padding: 4px 10px;
  border: 2px solid var(--primary);
  color: #111111;
  border-radius: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.apply__franchiese__btn:hover {
  scale: 1.1;
}

.apply__franchiese__btn a {
  font-weight: 600;

}

/* end why choose */


/* Our Brand Section Begin */
.our-brand span {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 3/1;
  object-fit: contain;
}


/* End Our Brand Section */




/* product_details.html page css*/
.sub-header {
  background-color: #F0F0F0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.header_short_details {
  display: none;
  position: relative;
  transform: translateY(-80px);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  -o-transform: translateY(-80px);

}

.product_feature_nav {
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

}

.product_details_navbar>ul>li>a {
  color: #313131 !important;
  font-size: 0.9rem;
}

.show {
  display: block;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.hide {
  display: none;
}

/* =============================================================== */

.header-price {
  font-size: 1.4rem;
  color: #313131 !important;
  font-weight: 700;
}


.header-mrp {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-left: 10px;
  color: #919191 !important;
  font-weight: 600;
}

.mrp-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-left: 3px;
  color: #919191 !important;
  font-weight: 400;
}

.header-taxes {
  font-size: 0.7rem;
  margin-left: 4px;
  color: #919191;
  font-weight: 400;
}

.header-off {
  color: #DA251D;
  font-size: 0.9rem;
  margin-left: 10px;
  font-weight: 400;
}

.add-to-cart, .buy-now {
  padding: 3px 20px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--primary);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.add-to-cart {
  color: var(--primary);
}

.add-to-cart:hover {
  color: var(--primary);
}

.buy-now {
  margin-left: 20px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
}

/* ----------------------------------------------------- */


.product-main-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-color: #FFFFFF; */
  top: 60px;
  width: 100%;
  min-height: 800px;
  z-index: auto;
}

.product-img-fixed-box {
  position: fixed;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-height: 450px;
  /* background-color: #FFFFFF; */
  z-index: -1;
}

.product-img-fixed-box img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.image-gallery {
  padding: 1px 50px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 1.2rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.image-gallery-txt {
  font-size: 1rem;
  margin-left: 5px;
}

.product-content {
  position: relative;
  width: 100%;
  min-height: 800px;
  background-color: var(--white);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.fa-heart {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  font-weight: 400;
}

.share {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  font-weight: 400;
}

.product_size {
  font-weight: 500;
  color: #616161;
  font-size: 0.9rem;
}

.product_num {
  color: #919191;
  font-size: 0.83rem;
  font-weight: 400;
}

.real-price {
  font-size: 1.4rem;
  color: #313131;
}

.old-price {
  color: #919191;
  font-size: 1rem;
  text-decoration: line-through;
}

.price-tax {
  font-size: 0.8rem;
  color: #919191;
}

.off-43 {
  color: #DA251D;
  font-size: 0.9rem;
}

.product-net-quantity {
  color: #616161;
  font-size: 0.7rem;
}

.product-net-quantity>span>strong {
  color: #313131;
  font-size: 0.9rem;
}

.feature-text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #616161;
}

.minus-sign {
  height: 1px;
  color: red;
  font-weight: 100;
}

.quantity-btn {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.quantity-btn i {
  font-size: 0.9rem;
  color: #333333;
  font-weight: 800;
}

.choose-color-heading {
  color: #000000;
  font: 0.9rem;
  font-weight: 600;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.color>span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #945454;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.color:nth-child(1) span {
  background-color: #E3E3E3;
  padding: 2px;
}

.color:nth-child(2) span {
  background-color: #DDD9B4;
}

.color:nth-child(3) span {
  background-color: #5F575A;
}

.color:nth-child(4) span {
  background-color: #4D557E;
}



.color>span:hover {
  border: 0px;
}

.size-box {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.size-box-1 {
  border: 3px solid red;
}

.delivery-details {
  color: #000000;
  font: 0.9rem;
  font-weight: 600;
}

input.form-control:focus,
input.form-control:hover,
input.form-control:active {
  border: none !important;
  outline: none !important;

  box-shadow: none !important;
}



.delivery-input {
  border-bottom: 1px solid #000000;
}

.offer-div {
  width: 100%;
  min-height: 120px;
  background-color: var(--section-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.offer-brand {
  width: 200px;
  min-height: 50px;
}

.offer-brand img {
  width: 100px;
  height: auto;
  aspect-ratio: 2/1;
}

.offer-more a {
  color: red;
  font-weight: 400;
  font-size: 1rem;
}

.but-in-bulk span {
  font-size: 0.9rem;
}

.bulk-btn {
  color: red;
  font-weight: 400;
  font-size: 1rem;
}

.grand-total h5 {
  color: #000000;
  font-size: 1.3rem;
  font-weight: 700;
}

/* feature review section began */
.feature-review {
  background-color: #F0F0F0;
}


/* technical specification */
.technical-specification {
  background-color: var(--white);

}

.table-row {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}


/* review write */
.review {
  background-color: #F0F0F0;

}

.review-write {
  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  background-color: #F0F0F0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.review-write textarea {
  border: none;
  background-color: #FFFFFF;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.review-write-btn {
  padding: 10px 20px;
  background-color: var(--primary);
  color: #000000;
  border-radius: 30px;
  font-weight: 600;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* may-also-like */
.may-also-like {
  background-color: #F0F0F0;
}

.product {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.product-name a {
  color: #000000;
}

.product-img-box {
  width: 300px;
  height: auto;
}

.product-img-box img {
  width: 300px;
  height: auto;
  aspect-ratio: 2/2;
  object-fit: cover;
  background-size: contain;
}

.view-detail-btn, .add-to-cart-btn {
  padding: 10px 20px;
  color: #000000;
  font-weight: 500;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.product-mrp {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}

.taxes {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.old-product-mrp {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.old-product-taxes {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;

}

.old-product-price-offer {
  color: red;
  margin-left: 10px;
  font-size: 0.7rem;
}

.view-detail-btn {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.view-detail-btn:hover {
  background-color: var(--primary);
  color: var(--white);
}

.add-to-cart-btn {
  background-color: var(--primary);
}

/* end product_details.html page css */